div.section {
    height: 50%;
}

.no-scroll .scroll-content{
    overflow: hidden;
}

ion-icon {
    font-size: 500%; //Preferred size here
}

.toolbar-background {
    background: #fff;
    border-color: transparent;
}

.slide-zoom {
    height: 100%;
}