// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

div.section, div.section-welcome {
    height: 50%;
    border-bottom-style: solid;
    border-block-end-width: 0.5px;
    border-bottom-color: lightgray;
}

div.section-welcome {
    color: #FFF;
    background-color: color($colors, primary);
}

div.options {
    height: 33%;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 300%;
}

h4 {
    font-size: 150%;
}

.no-scroll .scroll-content{
    overflow: hidden;
}

ion-icon {
    font-size: 500%; //Preferred size here
}

.slide-zoom {
    height: 100%;
}